@import "@styles/colors.scss";

// 1. button 공통되는 부분 @mixin으로 바꿔서 수정해놓을 것!
// 2. color - white, yellow 추가하기
// 3. 이미지 크기 40*40

.commonButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: $gray-1;
  margin: 5px auto;
  box-shadow: 1.5px 2px 1px #000;
  border: 1px solid #000;

  /** 사이즈 관리 */
  &.large {
    width: 325px;
    height: 63px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  &.medium {
    width: 237px;
    height: 63px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
  }

  &.small {
    width: 138px;
    height: 50px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
  }

  &.xsmall {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
  }

  &.xxsmall {
    width: 50px;
    height: 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
  }

  // 색상 관리
  &.lime {
    background: $lime;
    &:hover,
    &:active {
      background: rgba(223, 249, 62, 0.5);
      border: 1px solid $lime;
      box-shadow: 1.5px 2px 1px rgba(223, 249, 62, 0.5);
    }
  }

  &.darkblue {
    background: $blue-1;
    color: white;
    &:hover,
    &:active {
      background: rgba(85, 81, 255, 0.5);
      border: 1px solid $blue-1;
      box-shadow: 1.5px 2px 1px rgb(85, 81, 255);
    }
  }

  &.skyblue {
    background: $blue-3;
    color: $gray-1;
    &:hover,
    &:active {
      background: rgba(207, 226, 255, 0.5);
      border: 1px solid $blue-3;
      box-shadow: 1.5px 2px 1px rgb(207, 226, 255);
    }
  }

  &.gray-lime {
    background: $gray-5;
    &:hover,
    &:active {
      background: $lime;
    }
  }

  &.gray-blue {
    background: $gray-5;
    &:hover,
    &:active {
      background: $blue-1;
      color: white;
    }
  }
}
