@import "@styles/Colors";
@import "@styles/mixin";

.custom-nav-container {
  height: 140px;
  background-image: url("../../../assets/defaultBanner.svg");

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 300px;
    max-height: 100px;
  }

  .custom-title-wrapper {
    border-radius: 20px;
    border: solid 1px $gray-1;
    position: absolute;
    top: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    height: 60px;

    @include desktop {
      width: 70%;
    }
    @include mobile {
      width: 80%;
      min-width: 250px;
      font-size: 1.125rem;
    }
  }
}
