@import "@styles/Colors.scss";

#menu {
  z-index: 999;
  .menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.bar {
  height: 3px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  border: 1px solid $gray-1;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
  display: flex;
  align-items: start;
}

.nav li button {
  color: $gray-1;
  font-size: 20px;
  text-decoration: none;
}

.nav li button:hover {
  font-weight: bold;
  color: $blue-1;
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, $gray-5, $gray-6);
  border-radius: 50%;
  transition: 0.3s ease;
  border: 1px solid $gray-1;
  box-shadow: 1px 1px 10px $gray-1;
}

.change {
  display: block;
}

.change .bar {
  background-color: $blue-1;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}
