@import "@styles/Colors.scss";

.inputvalidBoxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;
  width: 325px;
  height: 63px;
  border-width: 2px;
  border-style: solid;
  border-color: $gray-1;
  border-radius: 10px;
  background-color: white;

  ::placeholder {
    color: $gray-3;
  }
  input {
    padding: 5px 10px;
    border: 0;
    background-color: transparent;
    outline-style: none;
  }
  button {
    padding: 5px 10px;
    border: 0;
    background-color: transparent;
    color: $green;
    cursor: pointer;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}
