@import "@styles/Colors.scss";
@import "@styles/mixin.scss";

.black {
  background: rgba(49, 49, 49, 0.8);
}

.modal-wrapper,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  position: fixed;

}

.modal-content {
  z-index: 600;
  max-width: 40%;
  min-width: 300px;
  //max-width: 320px;
  position: absolute;
  top: 33%;
  left: 50%;
  background: white;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  box-shadow: 5px 5px 3px $gray-2;
  .small-image {
    display: flex;
  }
  .close {
    position: absolute;
    right: 15px;
    // padding: 10px;
  }
  .modal-innerText {
    // margin-top: 40px;
    margin: 0;
    align-items: center;
    h5 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    p {
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .modal-buttons {
    display: flex;
    justify-content: center;
  }
}

.outside {
  position: absolute;
  left: -10px;
  top: -10px;
}
