// 사용법은 @import './Colors.scss';
// 컬러칩은 Figma 순서대로

// Blue
$blue-1: #5551ff;
$blue-2: #699bf7;
$blue-3: #cfe2ff;

$color: #9ec5ff;

// Purple
$purple-1: #a259ff;
$purple-2: #c7b9ff;

// single colors
$orange: #ff8577;
$green: #37a954;
$yellow: #ffc700;
$brown: #ab7427;
$lime: #dff93e;
$white: #fff;
$kakao: #ffe812;

//Gray
$gray-1: #303030;
$gray-2: #6b6b6b;
$gray-3: #b8b8b8;
$gray-4: #cfcfcf; // 기본 gray
$gray-5: #e8e8e8;
$gray-6: #fafafa;

// 그림자
// $box-shadow: 0px 0px 13px 4px rgba(209, 209, 209, 0.25);
