@import "@styles/Colors.scss";
@import "@styles/mixin";
// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";

.tutorial-page-container {
  .go-game-button-wrapper {
    Button {
      margin-top: 30px;
    }
  }
}

// TutorialTab

.tutorial-tab-main-container {
  min-height: 65vh;
}

.tutorial-tab-buttons-container {
  position: relative;
  top: -35px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $gray-1;

  button {
    background-color: inherit;
    border: none;
    font-size: 1rem;
    padding-bottom: 10px;
  }
  button:hover,
  .button-active {
    cursor: pointer;
    background-color: $lime;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
}

// TutorialContent
.tutorial-content-container {
  margin: auto;

  img {
    max-width: 100%;
    height: 250px;
    margin: auto;
  }
}

.slick-prev,
.slick-next {
  // background-color: red !important;
  // background: gray !important;
  &:before {
    color: $gray-2 !important;
  }
  @include mobile {
    display: none !important;
  }
}

.slick-dots {
  position: relative;
  // top: 20px;
}
