@import "@styles/colors.scss";

// TutorialTab

.tutorial-tab-buttons-container {
  position: relative;
  top: -35px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $gray-1;

  button {
    background-color: inherit;
    border: none;
    font-size: 1rem;
    padding-bottom: 10px;
  }
  button:hover,
  .button-active {
    cursor: pointer;
    background-color: $lime;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
}

.tutorial-contents-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;

  button {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 0;
    margin: 0 20px;
  }

  .tutotial-contents-slide {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    transition: transform 0.5s ease-out;
  }
}
// .tutorial-contents-carousel button {
//   background: none;
//   border: none;
//   font-size: 25px;
//   cursor: pointer;
//   padding: 0;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }

//   .tutorial-contents-carousel button:first-of-type {
//     left: 0;
//   }

//   .tutorial-contents-carousel button:last-of-type {
//     right: 0;
//   }
// }

// TutorialContent
.tutorial-content-container {
  width: 100%;
  // min-width: 100%;
  margin-right: 16px;

  img {
    max-width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    .tutotial-contents-slide {
      width: 85%;
    }

    .tutorial-content-container {
      flex: 0 0 calc(85% / 3);
      max-width: calc(85% / 3);
    }
  }
}
