@import "@styles/Colors.scss";

.edit-h1 {
  margin-bottom: 0;
  color: $blue-1;
  font-weight: 900;
  text-shadow: 3px 0px $gray-1;
  -webkit-text-stroke: 1px $gray-1;
}
.edit-profile-main-container {
  h5 {
    margin-top: 10px;
    font-weight: 400;
  }
  gap: 5%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
      border: 2px solid $gray-1;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 2px 2px $gray-1;
    }
  }
  .userinfo-container {
    .edit-profile-form {
      display: flex;
      justify-content: center;
      margin: 10px auto;
      h5 {
        margin: 0 auto;
        text-align: left;
        color: $blue-1;
        font-weight: 700;
      }
      .nickname-intro,
      .passwod-intro {
        color: $green;
        width: 325px;
        text-align: left;
      }
    }
  }
}

.email-input {
  cursor: default;
}

.btn-upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: $gray-1;
  margin: 5px auto;
  box-shadow: 1.5px 2px 1px #000;
  border: 1px solid #000;
  gap: 40px;
  width: 138px;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 13px;
  background-color: $blue-3;
  &:hover,
  &:active {
    background: $blue-2;
  }
}

#file {
  display: none;
}
