@import "@styles/Colors.scss";

.edit-profile-main-container {
  margin: 5% auto;
  h3 {
    margin-bottom: 0;
  }
  h5 {
    margin-top: 10px;
    font-weight: 400;
  }
  .edit-profile-form {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    h5 {
      margin: 0 auto;
      text-align: left;
      color: $blue-1;
      font-weight: 700;
    }
    .nickname-intro,
    .passwod-intro {
      color: $green;
      width: 325px;
      text-align: left;
    }
  }
}

.email-input {
  cursor: default;
}