@import "@styles/Colors.scss";

.gamepage-container {
  justify-content: center;
}

// problem Title
.problem-title-wrapper {
  position: relative;
  border: 3px solid $gray-1;
  border-radius: 15px;

  h5 {
    font-weight: bold;
  }

  img {
    position: absolute;
    right: 10px;
    top: -10px;
  }
}

//problem card carousel

.problem-carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .problem-button-container {
    position: absolute;
    width: 120%;
    top: 40%;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 900px) {
    .problem-button-container {
      display: none;
    }
  }
  button {
    border: transparent;
    background-color: transparent;
    color: $blue-1;

    :hover {
      cursor: pointer;
    }

    :active {
      color: $blue-2;
    }
  }
}

.problem-carousel {
  overflow: auto;
  width: 100%;
  min-width: 287px; // 255 + margin 16px
  display: flex;
  flex-direction: row;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .carousel-inner-container {
    display: inline-flex;
    white-space: nowrap;
    transition: transform 0.3s;
    flex-direction: row;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  .problem-carousel {
    overflow: auto;
    width: 100%;
    min-width: 287px; // 255 + margin 16px
    display: flex;
    flex-direction: row;
    justify-content: center;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .carousel-inner-container {
      display: inline-flex;
      white-space: nowrap;
      transition: transform 0.3s;
      flex-direction: column;
      align-items: center;
    }
  }
}

//scroll bar
.problem-carousel::-webkit-scrollbar {
  display: none;
}

// timer
.timer-wrapper {
  width: 255px;
  height: 89px;
  border: 3px solid $gray-1;
  border-radius: 15px;
  background-color: $blue-1;

  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 200px;

  h5 {
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
  }
}

@media screen and (max-width: 900px) {
  .timer-wrapper {
    width: 255px;
    height: 89px;
    border: 3px solid $gray-1;
    border-radius: 15px;
    background-color: $blue-1;

    margin: auto;
    margin-top: 10px;

    h5 {
      color: white;
      -webkit-text-stroke: 1px black;
      font-weight: bold;
    }
  }
}

//Problem Card

.outer-card-wrapper {
  border: 3px solid $gray-3;
  border-radius: 15px;
  width: 255px;
  min-width: 255px;
  width: 100%;
  height: 542px;
  margin: 1rem;

  // about scroll
  overflow: hidden;

  div > h5 {
    margin: auto;
    color: white;
    -webkit-text-stroke: 1px $gray-1;
    font-weight: bold;
  }

  .problem-title-container {
    display: flex;
    background-color: $blue-1;
    height: 43px;
  }

  .inner-card-container {
    img {
      width: 100%;
      height: 100%;
    }

    .original-image-container {
      margin: 20px auto 10px auto;
      width: 218px;
      height: 218px;
      border: 1px solid black;
      overflow: hidden;

      img {
        -webkit-user-drag: none;
      }
    }

    .input-image-container {
      margin: 20px auto 10px auto;
      width: 218px;
      height: 218px;

      .empty-image-container {
        width: 97.5%;
        height: 97.5%;
        border: 3px dashed $gray-3;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0px;
          font-size: 100px;
          color: $gray-2;
          font-weight: 400;
        }

        h5 {
          margin: 0px;
          color: $gray-2;
          font-weight: 400;
        }
      }
    }
  }
}

input.invisible {
  display: none;
}

.AIModal-wrapper,
.AIModal-overlay,
.image-editor-wrapper,
.image-editor-overlay,
.dropdown-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.image-editor-overlay,
.AIModal-overlay {
  background: rgba(49, 49, 49, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.AIModal-content {
  position: relative;
  background-image: url("../assets/tempBg.svg");
  border: 1px solid black;
  width: 300px;
  height: 659px;
  border-radius: 15px;
  box-shadow: 3px $gray-1;
  // overflow: none;
  overflow: hidden;

  .AIModal-evaluation {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;

    .circular-img {
      position: relative;
      width: 250px;
      height: 250px;
      background: #fefcff;
      border-radius: 50%;
      border: 1px solid #cdcbd0;

      .wrong {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .right {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .AIModal-description {
    position: absolute;
    left: -50%;
    bottom: -20%;
    background-color: white;
    height: 50%;
    width: 200%;
    border-radius: 300px / 150px;

    h1 {
      -webkit-text-stroke: 1px $gray-1;
      transform: translateY(120%);
    }

    .blue {
      color: $blue-1;
    }

    .green {
      color: $green;
    }

    .orange {
      color: $orange;
    }
  }
}

.progress-bar {
  margin-top: 1rem;
  position: relative;
  width: 100%;
  height: 3em;
  background-color: #111;
  border-radius: 1.5em;
  color: white;
  --width: 70%;
}

.progress-bar::before {
  content: attr(data-width);
  display: flex;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  width: attr(data-width);
  width: 70%;
  min-width: 1rem;
  max-width: calc(100% - 3em);
  background-image: linear-gradient(to right, white, $blue-2);
  border-radius: 1em;
  padding: 1em;
  animation: progressAnimation 1s;
}

.done::before {
  width: 100%;
}

@keyframes progressAnimation {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

//scroller
.scroller-wrapper {
  position: fixed;
  z-index: 1000;
  top: 3rem;
  right: 3rem;
  // height: 100%;
  // width: 100%;
  display: flex;
  justify-content: right;

  .scroller-button {
    height: 70px;
    width: 70px;
    border: 3px solid $gray-1;
    border-radius: 50%;
    background-color: $blue-2;
    box-shadow: $gray-2 2px 2px, $gray-1 3px 3px;
    overflow: inherit;
  }

  .scroller-button:hover {
    cursor: pointer;
  }
  .scroller-button:active {
    cursor: pointer;
    background-color: $blue-3;
  }

  h1 {
    margin: 0px;
  }
}

@media screen and (min-width: 900px) {
  .scroller-wrapper {
    display: none;
  }
}

.dropdown-menu {
  position: absolute;
  top: 80px;
  background-color: white;
  width: 300px;
  border: 3px solid $gray-1;
  border-radius: 15px;

  p {
    font-size: 20px;
  }

  p:active,
  p:hover {
    cursor: pointer;
    color: $blue-1;
    font-weight: 800;
  }
}

// image editor
.image-editor-content {
  position: relative;
  max-height: 90vh;
  max-width: 90vw;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image-editor-image {
    margin: 10px;
    max-height: 78%;
    max-width: 90%;
    border: 1px solid black;
    object-fit: contain;

    img {
      max-width: 80%;
      max-height: 80%;
    }
  }

  .image-editor-buttons {
    margin: 10px;
  }
}
