@import "@styles/Colors.scss";

.gamepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//problem card carousel
.problem-carousel {
  overflow: hidden;
  width: 50%;
  min-width: 287px; // 255 + margin 16px
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid black;

  .carousel-inner-container {
    display: inline-flex;
    white-space: nowrap;
    // transform: translate(-100%);
    transition: transform 0.3s;
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
  }
}

//Problem Card
.outer-card-wrapper {
  border: 3px solid $gray-3;
  border-radius: 15px;
  width: 255px;
  min-width: 255px;
  width: 100%;
  height: 542px;
  margin: 0 1rem;
  overflow: hidden;

  div > h5 {
    margin: auto;
    color: white;
    -webkit-text-stroke: 1px $gray-1;
    font-weight: bold;
  }

  .problem-title-container {
    display: flex;
    background-color: $blue-1;
    height: 43px;
  }

  .inner-card-container {
    img {
      width: 100%;
      height: 100%;
    }

    .original-image-container {
      margin: 20px auto 10px auto;
      width: 218px;
      height: 218px;
      border: 1px solid black;
      overflow: hidden;
    }

    .input-image-container {
      margin: 20px auto 10px auto;
      width: 218px;
      height: 218px;

      .empty-image-container {
        width: 97.5%;
        height: 97.5%;
        border: 3px dashed $gray-3;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          margin: 0px;
          font-size: 50px;
          color: $gray-2;
          font-weight: 400;
        }

        h5 {
          margin: 0px;
          color: $gray-2;
          font-weight: 400;
        }
      }
    }
  }
}
