@import "@styles/Colors.scss";

// LogIn.tsx
.login-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  // min-height: 100vh;

  input {
    display: flex;
    margin: 0.5rem auto;
    width: 305px;
    height: 53px;
    border-radius: 10px;
  }

  button {
    display: inline-flex;
  }
}

.social-logins-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .social-login-title {
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    hr {
      width: 35%;
      height: 1px;
      border: 0;
      background: $gray-3;
    }
    h5 {
      width: 320px;
      color: $gray-2;
      font-weight: 400;
    }
  }

  button {
    display: inline-flex;
    margin: 5px auto;
  }

  a {
    text-decoration: none;
  }
}

#google-login-api {
  display: flex;
  justify-content: center;
}

// #gsi_685323_384947 {
//   height: 500px !important;
// }

// .nsm7Bb-HzV7m-LgbsSe,
// .jVeSEe,
// .i5vt6e-Ia7Qfc,
// .uaxL4e-RbRzK {
//   border: 5px solid red !important;
//   height: 63px !important;
// }
