@import "../styles/colors.scss";

.login-page-container {
  // background-image: url("../assets/tempBg.svg");
  // background-size: contain;
  height: 100vh;

  .top-banner {
    overflow: hidden;
  }
  .login-banner {
    position: relative;
    top: -50px;
    // height: 90px;
    width: 325px;
  }
}

// LogIn.tsx
.login-inputs-container {
  display: flex;
  flex-direction: column;

  input {
    display: flex;
    margin: 0.5rem auto;
    width: 305px;
    height: 53px;
    border-radius: 10px;
  }

  button {
    width: 330px;
    height: 63px;
    border-radius: 10px;
  }
}
