@import "../styles/colors.scss";

.login-page-container {
  // background-image: url("../assets/tempBg.svg");
  // background-size: contain;
  height: 100vh;

  .top-banner {
    overflow: hidden;
  }
  .login-banner {
    position: relative;
    top: -50px;
    // height: 90px;
    width: 325px;
  }
}

// LogIn.tsx
.login-inputs-container {
  display: flex;
  flex-direction: column;

  input {
    display: flex;
    margin: 0.5rem auto;
    width: 305px;
    height: 53px;
    border-radius: 10px;
  }

  button {
    width: 330px;
    height: 63px;
    border-radius: 10px;
    cursor: pointer;
    background-color: $gray-5;
    font-size: 1.125rem;
    font-weight: 700;
  }
  button:hover {
    background-color: #dff93e;
  }
}

.social-logins-container {
  display: flex;
  margin: 10px auto;
  width: 328px;
  justify-content: space-between;
  button {
    margin-top: 10%;
    width: 155px;
    font-size: 1.125rem;
    font-weight: 700;
  }
  .kakao-btn,
  .kakao-btn:hover {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffe812;
    align-items: center;
    img {
      width: 35px;
      margin-right: 15px;
      margin-left: 5px;
    }
  }
  .google-btn,
  .google-btn:hover {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: center;
    img {
      width: 35px;
      margin-right: 15px;
      margin-left: 3px;
    }
  }
}

.signup-btn-wrapper {
  button {
    background-color: $blue-1;
    color: #fff;
  }
}
