@import "../styles/colors.scss";

.temps-container {
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  min-height: 150px;
  justify-content: center;
  border: 2px dotted $gray-3;
  border-radius: 15px;

  button {
    margin: 5px;
    background-color: $blue-2;
    border-radius: 8px;
  }
  button:hover {
    background-color: $blue-1;
  }
}

.input-pin-num-container {
  margin: 5% auto;
  input {
    border-width: 3px;
    border-color: $blue-1;
    border-radius: 12px;
    padding: 5px 10px;
    font-family: "Noto Sans KR";
    font-size: 2rem;
    text-align: center;
  }
}
