@import "@styles/Colors";
@import "@styles/mixin";

// 임시 바로가기 버튼 모음 (추후 제거 예정)
.temps-container {
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  min-height: 150px;
  justify-content: center;
  border: 2px dotted $gray-3;
  border-radius: 15px;

  button {
    margin: 5px;
    background-color: $blue-2;
    border-radius: 8px;
  }
  button:hover {
    background-color: $blue-1;
    cursor: pointer;
  }
}

// InputPinNum
.input-pin-num-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  button,
  input {
    @include desktop {
      font-size: 2rem;
      width: 35%;
    }
    @include mobile {
      font-size: 1.5rem;
      max-width: 340px;
      width: 80%;
    }
    border: 3px solid $gray-1;
    border-radius: 12px;
    text-align: center;
    padding: 20px 0;
  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus {
    outline: none;
    animation: border-changing 3s infinite;
    -webkit-animation: border-changing 3s infinite;
  }
  .newgame-link {
    cursor: pointer;
    box-shadow: 3px 3px $gray-1;
    background-color: $lime;
  }
  .rejoin-link {
    cursor: pointer;
    box-shadow: 3px 3px $gray-1;
    background-color: $blue-1;
    color: white;
  }
  h3 {
    @include desktop {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.5rem;
    }
  }
}

@keyframes border-changing {
  0% {
    border-color: $blue-2;
  }
  25% {
    border-color: $green;
  }
  50% {
    border-color: $orange;
  }
  75% {
    border-color: $purple-2;
  }
  100% {
    border-color: $blue-2;
  }
}

// 재참여페이지 링크
.rejoin-link {
  // color: white;
  h3 {
    font-weight: 500;
  }
}
