@import "@styles/colors.scss";

.player-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: calc(80vh + 55px); // 수정할 수 있으면 %로 수정할 것
  height: 100vh; // 수정할 수 있으면 %로 수정할 것
  background-image: url("../assets/tempBg.svg");

  img {
    margin-bottom: 50px;
    width: 100%;
    max-width: 400px;
  }
  
  .enter-button {
    margin-top: 30px;
  }
}
