@import "@styles/Colors";
@import "@styles/mixin";

.rank-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .player-rank-wrapper {
    border-radius: 30px;
    border: 1px solid $gray-1;
    margin-top: 100px;
    margin-bottom: 80px;

    @include desktop {
      width: 70%;
    }
    @include mobile {
      width: 80%;
      font-size: 10px;
    }

    //ShareButton.tsx
    .rank-share-button {
      background-image: url("../assets/shareButton.png");
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      background-size: 70px;
      width: 70px;
      height: 70px;
      border: none;
      position: relative;
      left: 48%;
      top: 25px;
    }

    .ranking-title-flag {
      background-image: url("../assets/RankingFlag.svg");
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: -44px;
      :hover {
      }

      h1 {
        color: $blue-1;
        font-weight: 900;
        text-shadow: 3px 0px $gray-1;
        -webkit-text-stroke: 1px $gray-1;
        margin: 0;
        padding: 20px;
      }
    }

    // 랭킹 안에 내용
    .rank-content {
      @include desktop {
        max-width: 75%;
        margin: auto;
      }
      @include mobile {
        max-width: 80%;
        margin: auto;
      }

      .rankInfo-wrapper {
        margin: 10px;
        @include fadeInUp;
      }

      // 등수, 닉네임, 시간
      .rank-header {
        justify-content: space-between;
        .rank-box1,
        .rank-box2,
        .rank-box3,
        .rank-box4 {
          border-radius: 10px;
          border: 1px solid $gray-1;
          background-color: $gray-5;
          height: 30px;
          margin: auto;
          padding: 5px;
          max-width: 50px;
          min-width: 40px;
          @include mobile {
            padding: 1px;
            font-size: 1rem;
          }
        }
        .rank-box5 {
          border-radius: 10px;
          border: 1px solid $gray-1;
          background-color: $gray-5;
          height: 30px;
          margin: auto;
          padding: 5px;
          width: 70px;
          @include mobile {
            padding: 1px;
            font-size: 1rem;
          }
        }
      }
      .rank-info-wrapper {
        justify-content: space-between;
        align-items: center;
        img {
          width: 45px;
          margin: 10px 10px 10px 0;
          @include mobile {
            width: 30px;
          }
        }
        h5 {
          justify-content: center;
          margin: 10px;
          font-size: 1rem;
          @include mobile {
            margin: 25px;
            font-size: 0.5rem;
            max-height: 10px;
            text-overflow: ellipsis; // 수정필요
          }
        }
        p {
          justify-content: center;
          margin: 10px;
          @include mobile {
            font-size: 0.5rem;
          }
        }

        hr {
          width: 1200%;
          position: relative;
          top: -15px;
        }

        .no-medal-wrapper {
          position: relative;
          .medal-txt {
            font-size: 1.125rem;
            padding: 10px;
            text-align: center;
            background-image: url("../assets/nomedal.png");
            background-size: 45px;
            background-position: center;
            background-repeat: no-repeat;
            @include mobile {
              background-size: 30px;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include desktop {
      width: 60%;
    }
    @include mobile {
      width: 60%;
    }
    .commonButton {
      border: 1px solid $gray-2 !important;
      box-shadow: 1.5px 2px 1px $gray-2 !important;
    }
  }
}

// 이벤트 참여하기 모달
.modal-five {
  p {
    text-align: left;
    color: $gray-2;
  }
  h5 {
    text-align: left;
  }
  .modal-content {
    max-width: 340px;
  }
}

// 경품보기 모달
.modal-six {
  top: 17%;
  .modal-content {
    height: 85%;
    width: 90%;
    overflow: scroll;

    background-image: url("../assets/fullBGPattern.svg");
    background-color: $blue-1;
    .modal-innerText {
      display: flex;
      flex-direction: column;
      align-items: center;
      .reward-box {
        width: 300px;
        border-radius: 10px;
        background-color: white;
        border: 1px solid $gray-1;
        box-shadow: 3px 3px $gray-1;
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .medal {
          width: 45px;
          position: relative;
          top: -30px;
          left: -100px;
        }
        .reward-img {
          max-width: 250px;
          margin: -20px;
        }
        p {
          margin-top: 40px;
          font-size: 1.125rem;
          color: $gray-1;
          font-weight: 700;
        }
      }
      .reward-explanation {
        .h5-text {
          color: $gray-3;
          font-weight: 900;
          margin-bottom: 10px;
          font-size: 1.125rem;
          text-align: left;
        }
        .text {
          color: $gray-3;
          text-align: left;
          max-width: 300px;
        }
      }
    }
  }
}
