@import "@styles/Colors.scss";

body {
  .G {
    color: $blue-1;
    animation: color-changing 2s infinite;
  }
  .o {
    color: $blue-1;
    animation: color-changing 2s infinite;
    animation-delay: 0.1s;
  }
  .t {
    color: $blue-1;
    animation: color-changing 2s infinite;
    animation-delay: 0.2s;
  }
  .c {
    color: $blue-1;
    animation: color-changing 2s infinite;
    animation-delay: 0.3s;
  }
  .h {
    color: $blue-1;
    animation: color-changing 2s infinite;
    animation-delay: 0.4s;
  }
  .a {
    color: $blue-1;
    animation: color-changing 2s infinite;
    animation-delay: 0.5s;
  }
  .nn {
    color: $blue-1;
    animation: color-changing 2s infinite;
    animation-delay: 0.6s;
  }
  .sorry {
    animation: go-move 2s infinite;
    cursor: default;
    padding-top: 20px;
  }
}

.input-pin-num-container {
  input {
    width: 500px;
  }
}

.gg {
  cursor: pointer;
  background-color: inherit;
}

.gg:hover {
  background-color: $orange;
  color: white;
}

@keyframes color-changing {
  0% {
    color: $blue-2;
  }
  25% {
    color: $green;
  }
  50% {
    color: $orange;
    transform: translateY(30px);
  }
  75% {
    color: $purple-2;
  }
  100% {
    color: $blue-2;
  }
}

@keyframes go-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
