@import "../../styles/colors.scss";

.black {
  background: rgba(49, 49, 49, 0.8);
}

.modal-wrapper,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-content {
  position: absolute;
  top: 33%;
  left: 50%;
  background: white;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  padding: 14px 28px;
  box-shadow: 5px 5px 3px $gray-2;
}

.exclamation {
  display: flex;
  margin-bottom: 10px;
}

.outside {
  position: absolute;
  left: -10px;
  top: -10px;
}
